.spinner {
    /* Your styling */
    width: 40px;
    height: 40px;
    
    border: 7px;
    border-top: 5px solid coral;
    border-radius: 55%;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.country-card {
    background-color: darkviolet;
    border: 2px deeppink;
    padding: 20px;
}

.border-grid{
    display: grid;
}

.error{
    color: gold;
    text-align: center;
}

.hidden{
    display: none;
}